In [2]:
import pandas as pd
df = pd.read_csv('/Users/suso/BootcampDA/Unit7/data_7.01_activities/files_for_activities/learningSet.csv.zip')

/var/folders/5y/_5l3y2p900scjg2bd7r52_lh0000gn/T/ipykernel_9606/4224856437.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/suso/BootcampDA/Unit7/data_7.01_activities/files_for_activities/learningSet.csv.zip')

In [3]:
# Check for null values in all the columns

null_values = df.isnull().sum()
print(null_values)

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [5]:
# Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

drop_list = []

drop_list.append('OSOURCE')
drop_list.append('ZIP')

df = df.drop(drop_list, axis=1)

In [6]:
# Identify columns that over 85% missing values

missing_percentage = df.isnull().mean() * 100

columns_over_85_percent_missing = missing_percentage[missing_percentage > 85]

print(columns_over_85_percent_missing)

NUMCHLD     87.018404
RDATE_3     99.746363
RDATE_4     99.705488
RDATE_5     99.990567
RDATE_6     99.186685
RDATE_7     90.677273
RDATE_10    89.035970
RDATE_13    87.160944
RDATE_15    92.388798
RDATE_17    90.146942
RDATE_20    91.732696
RDATE_21    90.029556
RDATE_23    91.763091
RAMNT_3     99.746363
RAMNT_4     99.705488
RAMNT_5     99.990567
RAMNT_6     99.186685
RAMNT_7     90.677273
RAMNT_10    89.035970
RAMNT_13    87.160944
RAMNT_15    92.388798
RAMNT_17    90.146942
RAMNT_20    91.732696
RAMNT_21    90.029556
RAMNT_23    91.763091
dtype: float64

In [7]:
# Remove those columns from the dataframe

df = df.drop(columns_over_85_percent_missing.index, axis=1)

In [9]:
print(df['GENDER'].value_counts())
df['GENDER'] = df['GENDER'].fillna('F')

df['GENDER'] = df['GENDER'].apply(lambda x: 'M' if x == 'M' else ('F' if x == 'F' else 'other'))

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [11]:
df['GENDER'].value_counts()

GENDER
F        51277
M        39094
other     5041
Name: count, dtype: int64